body{
  padding: 0;
  margin: 0;
  font-family: "YouYuan";
  /*font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;*/
  height: 100%;
  width: 100%;
  user-select: none;
}
html{
  height: 100%;
  width: 100%;
}

